<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{YYYY-MM-dd HH:mm:ss.SSS}][%thread][%-5level][%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <!-- path to your log file, where you want to store logs -->
        <file>log/service_debug.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%d{YYYY-MM-dd HH:mm:ss.SSS}][%thread][%-5level][%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>
</configuration>